{% extends "post/base.html" %}
{% block content %}
<h1 class="display-4">Feed</h1> 
    {% for post in post2 %}
        <article class="media content-section">
            <img class='rounded-circle article-img' src="{{post.author.profile.image.url}}">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href={%url "profile-detail" post.author.id%}>{{ post.author }}</a>
                <small class="text-muted">{{ post.Date }}</small>
                {%if user not in post.like.all and user not in post.dislike.all %}
                      <form action ='{%url 'like_post' post.pk %}' method='POST'>
                          {%csrf_token%}
                          <button type='submit', name="post_id", value = {{post.pk}} , class="btn btn-primary" >&#128077  </button> {{post.like.count}} Likes

                      </form>
                      <form action ='{%url 'dislike_post' post.pk %}' method='POST'>
                          {%csrf_token%}
                          <button type='submit', name="post_id", value = {{post.pk}} , class="btn btn-primary" >&#128078  </button> {{post.dislike.count}} Dislikes

                      </form>
                          
                {%endif%}
                      {%if user in post.like.all and user not in post.dislike.all %}
                          <form action ='{%url 'unlike_post' post.pk %}' method='POST'>
                              {%csrf_token%}
                              <button type='submit', name="post_id", value = {{post.pk}} , class="btn btn-primary" >&#128077  </button> {{post.like.count}} Likes

                          </form>
                          <form action ='{%url 'dislike_post' post.pk %}' method='POST'>
                              {%csrf_token%}
                              <button type='submit', name="post_id", value = {{post.pk}} , class="btn btn-primary" >&#128078  </button> {{post.dislike.count}} Dislikes
                  
                          </form>
                      {%endif%}
                      {%if user not in post.like.all and user  in post.dislike.all %}
                          <form action ='{%url 'like_post' post.pk %}' method='POST'>
                              {%csrf_token%}
                              <button type='submit', name="post_id", value = {{post.pk}} , class="btn btn-primary" >&#128077  </button> {{post.like.count}} Likes

                          </form>
                          <form action ='{%url 'undislike_post' post.pk %}' method='POST'>
                              {%csrf_token%}
                              <button type='submit', name="post_id", value = {{post.pk}} , class="btn btn-primary" >&#128078  </button> {{post.dislike.count}} Dislikes
                  
                          </form>
                      {%endif%}
                      {%if user in post.like.all and user in post.dislike.all %}
                          <form action ='{%url 'unlike_post' post.pk %}' method='POST'>
                              {%csrf_token%}
                              <button type='submit', name="post_id", value = {{post.pk}} , class="btn btn-primary" >&#128077  </button> {{post.like.count}} Likes

                          </form>
                          <form action ='{%url 'undislike_post' post.pk %}' method='POST'>
                              {%csrf_token%}
                              <button type='submit', name="post_id", value = {{post.pk}} , class="btn btn-primary" >&#128078  </button> {{post.dislike.count}} Dislikes
                  
                          </form>
                      {%endif%}
        
                    </div>
                    <h2><a class="article-title" href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </article>
    {% endfor %}
    <div class="col-md-4">
        <div class="content-section">
          <h2>Following</h2>
          <p class='text-muted'>People you follow
            <ul class="list-group">
              {%for post in u_post%}
                <a href={%url 'profile-detail' post.id %}>{{post}}</a>   
              {%endfor%}
            </ul>
          </p>
        </div>
      </div>
{% endblock content %}